a.navbar-brand{
	font-family: Viga;
	font-size: 30px;
}
.navbar{
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12);
}
.navbar{
	z-index: 2;
	position: relative;
	margin-bottom: 0px;
}
.navbar-brand img{
	width: 40px;
	height: 40px;
}
.nav-item img{
	width: 20px;
	height: 20px;
}
.isi-dropdown{
	align-content: center;
}
.divider hr{
	margin-bottom: 5px;
	margin-top: 5px;
}
.fas{
	color: white;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #ACACAC;
}
/*.nav-link .dropdown-menu{
	position: relative;
	z-index: 1;
}*/
.carousel{
	margin-top: 20px;
}
.carousel{
	z-index: 1;
	position: relative;
}
.carousel::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0, 0,0,0));
	position: absolute;
	bottom: 0;
}
.btn{
	margin: auto;
}
.panel{
	z-index: 1;
	position: relative;
	margin-top: -40px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.5);
	border-radius: 12px;
	background-color: white;
	padding: 30px; 
}
.panel img{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.panel h4{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
.panel p{
	font-size: 14px;
	color: #ACACAC;
	margin-top: -5px;
	font-weight: 200;
}
.panel a{
	color: black;
}
.panel a:hover{
	text-decoration: none;
	color: black;
}
.judul h4{
	font-size: 30px;
	margin-top: 100px;
	text-align: center;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
}
.berita{
	margin-top: 30px;
}
.card{
	margin: auto;
	margin-top:10px;
}
.card-title{
	font-weight: bold;}
.card img{
    height: 200px;
}
.galeri{
	margin-top: 100px;
}
.galeri h5{
	font-weight: 200;
	font-style: italic;
}
.footer{
	margin-top: 50px;
}
.footer p{
	font-size: 18px;
	color: #ACACAC;
}
.social-link li{
	float: left;
	list-style: none;
}
.social-link li a:hover{
	text-decoration: none;	
}
.social-link li a i {
	margin-left: 10px;
	color: white;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #ACACAC;
}
@media (min-width: 992px) {
	.carousel-item img{
		height: 480px;
	}
	.judul h4{
		font-size: 35px;
	}
	.berita{
		margin-top: 60px;
	}
	h5.judul-slide{
		font-family: 'Patua One', cursive;
		text-shadow: 1px 1px 1px black;
	}
	.isih5{
		font-family: 'Patua One', cursive;
		text-shadow: 1px 1px 1px black;
	}
	/*.nav-link:hover{
		border-bottom: 3px solid black;
	}*/

	.nav-link .dropdown-toggle:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid rgb(115, 115, 112);
		width: 50%;
		margin:auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	.footer .kanan{
		float: right;
	}
	
}
